<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Instance Identifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>123</string>
			<key>Key</key>
			<string>identifierId</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Seconds Since Last Updated Location</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>secondsSinceLastUpdatedLocation</string>
			<key>DefaultValue</key>
			<integer>45</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Seconds before checking distance</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>secondsBeforeCheckingDistance</string>
			<key>DefaultValue</key>
			<integer>45</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Distance Before Notifying</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>distanceBeforeNotifying</string>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>MinimumValue</key>
			<integer>25</integer>
			<key>MaximumValue</key>
			<integer>1000</integer>
		</dict>
	</array>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.homeaidepi.bluebuzz1</string>
</dict>
</plist>
